In [1]:
import pandas as pd
import numpy as np

### Connect Pandas to the database with this URL:

In [2]:
#titles = pd.read_csv('titles.csv', index_col=None)
#titles

In [3]:
cast = pd.read_csv('cast.csv', index_col=None)
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [4]:
movies = cast[cast['character'].isin(('Superman', 'Batman'))].groupby(['character', 'year']).count()
movies = movies.drop(['name', 'type', 'n'], axis = 1)
movies = movies.unstack()
movies = movies.T
movies = movies.fillna(0)
movies['Superman'][movies['Superman'] > movies['Batman']].count()

11

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [5]:
# We take the same DataFrame as for the Superman years question
movies['Batman'][movies['Batman'] > movies['Superman']].count()

26

### Count the number of actor roles each year and the number of actress roles each year over the history of film.

In [6]:
roles = cast[cast['type'].isin(('actor', 'actress'))].groupby(['type', 'year']).count()
roles = roles.drop(['name', 'character', 'n'], axis = 1)
roles = roles.unstack()
roles = roles.T
roles = roles.fillna(0)
roles

type        actor  actress
      year
title 1894    2.0      1.0
      1900    2.0      0.0
      1905    1.0      0.0
      1906   14.0      3.0
      1907    5.0      0.0
...           ...      ...
      2021    9.0      4.0
      2022   18.0     11.0
      2023    6.0      5.0
      2025    2.0      0.0
      2026    1.0      0.0

[123 rows x 2 columns]

### Find the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

In [15]:
roles['difference'] = roles['actor'] - roles['actress']
roles['difference']

       year
title  1894     1.0
       1900     2.0
       1905     1.0
       1906    11.0
       1907     5.0
               ...
       2021     5.0
       2022     7.0
       2023     1.0
       2025     2.0
       2026     1.0
Name: difference, Length: 123, dtype: float64

### What is the fraction of roles that have been 'actor' roles each year in the history of film.

In [16]:
roles['fractionActorRoles'] = roles['actor'] / (roles['actor'] + roles['actress'])
roles['fractionActorRoles']

       year
title  1894    0.666667
       1900    1.000000
       1905    1.000000
       1906    0.823529
       1907    1.000000
                 ...
       2021    0.692308
       2022    0.620690
       2023    0.545455
       2025    1.000000
       2026    1.000000
Name: fractionActorRoles, Length: 123, dtype: float64

### What is the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.

In [13]:
support = cast[(cast['type'].isin(('actor', 'actress'))) & (cast['n'] == 2)].groupby(['type', 'year']).count()
support = support.drop(['name', 'character', 'n'], axis = 1)
support = support.unstack()
support = support.T
support = support.fillna(0)

type         actor  actress
      year
title 1906     2.0      1.0
      1907     1.0      0.0
      1908     2.0      0.0
      1910     2.0      2.0
      1911    14.0      5.0
...            ...      ...
      2016  2337.0   1823.0
      2017   883.0    643.0
      2018    41.0     30.0
      2019     7.0      2.0
      2020     1.0      2.0

[114 rows x 2 columns]

In [14]:
support['fractionActorRoles'] = support['actor'] / (support['actor'] + support['actress'])
support['fractionActorRoles']

       year
title  1906    0.666667
       1907    1.000000
       1908    1.000000
       1910    0.500000
       1911    0.736842
                 ...
       2016    0.561779
       2017    0.578637
       2018    0.577465
       2019    0.777778
       2020    0.333333
Name: fractionActorRoles, Length: 114, dtype: float64