In [1]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
cast = pd.read_csv('cast.csv', index_col=None)
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3634462,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3634463,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3634464,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3634465,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3634466,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [3]:
release_dates = pd.read_csv('release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates

                          title  year      country       date
0         #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                       #Beings  2015      Romania 2015-01-29
2                     #Declimax  2018  Netherlands 2018-01-21
3        #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                       #Horror  2015          USA 2015-11-20
...                         ...   ...          ...        ...
452651  xXx: State of the Union  2005          USA 2005-04-29
452652  xXx: State of the Union  2005       Poland 2005-06-03
452653  xXx: State of the Union  2005       Turkey 2005-06-03
452654  xXx: State of the Union  2005        China 2005-06-17
452655  xXx: State of the Union  2005       Greece 2005-06-24

[452656 rows x 4 columns]

### Count the number of months in which movies with "Christmas" in their title tend to be released in the USA.

In [23]:
usaChristmas = release_dates[(release_dates['title'].str.contains('Christmas')) & (release_dates['country'] == 'USA')]
usaChristmas.loc[:, 'month'] = usaChristmas.loc[:,'date'].dt.month
usaChristmas = pd.Series(usaChristmas['month'])
usaChristmas.value_counts()

12    47
11    38
10    14
9      2
8      2
2      2
1      2
7      1
6      1
5      1
4      1
Name: month, dtype: int64

3 months

### Count the number of months in which movies with "Christmas" in their title tend to be released in Canada.

In [20]:
canadaChristmas = release_dates[(release_dates['title'].str.contains('Christmas')) & (release_dates['country'] == 'Canada')]
canadaChristmas.loc[:, 'month'] = canadaChristmas.loc[:, 'date'].dt.month
canadaChristmas = pd.Series(canadaChristmas['month'])
canadaChristmas.value_counts()

11    9
12    6
10    2
Name: month, dtype: int64

2 months

### Count the number of months in which movies whose titles start with "The Hobbit" are released in the USA.

In [24]:
theHobbit = release_dates[(release_dates['title'].str.startswith('The Hobbit')) & (release_dates['country'] == 'USA')]
theHobbit.loc[:, 'month'] = theHobbit.loc[:, 'date'].dt.month
theHobbit = pd.Series(theHobbit['month'])
theHobbit.value_counts()

12    3
Name: month, dtype: int64

1 month

### Count day of the week on which movies with "Romance" in their title tend to be released in the USA.

In [26]:
romance = release_dates[(release_dates['title'].str.contains('Romance')) & (release_dates['country'] == 'USA')]
romance.loc[:, 'day'] = romance.loc[:, 'date'].dt.dayofweek
romance = pd.Series(romance['day'])
romance.value_counts()

6    32
0    21
4    18
2    11
5     8
3     6
1     4
Name: day, dtype: int64

Friday is the answer

### Count day of the week on which movies with "Action" in their title tend to be released in the USA.

In [27]:
action = release_dates[(release_dates['title'].str.contains('Action')) & (release_dates['country'] == 'USA')]
action.loc[:, 'day'] = action.loc[:, 'date'].dt.dayofweek
action = pd.Series(action['day'])
action.value_counts()

4    19
6     3
2     3
5     2
0     2
3     1
1     1
Name: day, dtype: int64

Thursday is the answer

### On which date was each Judi Dench movie from the 1990s released in the USA?

In [38]:
# First find the movies in which Judi Dench has played in the 1990s
judiDench = cast[(cast['name'] == 'Judi Dench') & cast['year'].isin(range(1990, 2000))]
judiDench = judiDench.title.array

list = []
for movie in judiDench:
    list.append(movie)
list

['GoldenEye',
 'Hamlet',
 'Jack & Sarah',
 'Mrs Brown',
 'Shakespeare in Love',
 'Tea with Mussolini',
 'The World Is Not Enough',
 'Tomorrow Never Dies']

In [50]:
# Then find the USA release dates for the movies in which Judi Dench played in the 1990s
release_dates[(release_dates['title'].isin(list)) 
              & (release_dates['country'] == 'USA') 
              & (release_dates['year'].isin(range(1990, 2000)))].sort_values(by = 'date')

                          title  year country       date
138969                   Hamlet  1990     USA 1991-01-18
132332                GoldenEye  1995     USA 1995-11-17
169109             Jack & Sarah  1995     USA 1996-03-22
138986                   Hamlet  1996     USA 1996-12-25
239011                Mrs Brown  1997     USA 1997-10-03
413573      Tomorrow Never Dies  1997     USA 1997-12-19
306506      Shakespeare in Love  1998     USA 1999-01-08
336559       Tea with Mussolini  1999     USA 1999-05-14
406606  The World Is Not Enough  1999     USA 1999-11-19

### In which months do films with Judi Dench tend to be released in the USA?

In [49]:
judiDench2 = cast[cast['name'] == 'Judi Dench']
judiDenchTitle = judiDench2.title.array

titles = []
for movie in judiDenchTitle:
    titles.append(movie)

judiDenchYear = judiDench2.year.array

years = []
for year in judiDenchYear:
    years.append(year)

In [60]:
judiDench3 = release_dates[(release_dates['title'].isin(titles)) 
                           & (release_dates['country'] == 'USA') 
                           & (release_dates['year'].isin(years))].sort_values(by = 'date')

judiDench3.loc[:, 'month'] = judiDench3.loc[:, 'date'].dt.month
judiDench3 = pd.Series(judiDench3['month'])
judiDench3.value_counts()

11    18
12    14
6     14
5     11
1      8
7      7
4      7
2      6
10     4
9      4
8      4
3      4
Name: month, dtype: int64

June, November and December is the answer

### In which months do films with Tom Cruise tend to be released in the USA?

In [58]:
tomCruise = cast[cast['name'] == 'Tom Cruise']
tomCruiseTitle = tomCruise.title.array

titles2 = []
for movie in tomCruiseTitle:
    titles2.append(movie)

tomCruiseYear = tomCruise.year.array

years2 = []
for year in tomCruiseYear:
    years2.append(year)

In [61]:
tomCruise = release_dates[(release_dates['title'].isin(titles2)) 
                           & (release_dates['country'] == 'USA') 
                           & (release_dates['year'].isin(years2))].sort_values(by = 'date')

tomCruise.loc[:, 'month'] = tomCruise.loc[:, 'date'].dt.month
tomCruise = pd.Series(tomCruise['month'])
tomCruise.value_counts()

12    10
6      8
7      6
5      6
11     4
4      4
10     3
8      3
2      2
1      2
9      1
3      1
Name: month, dtype: int64

May, June, July and December is the answer