In [8]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [9]:
titles = pd.read_csv('titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [10]:
cast = pd.read_csv('cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### What are the ten most common movie names of all time?

In [15]:
titles['title'].value_counts()[:10]

Hamlet                  18
Carmen                  16
Macbeth                 15
Maya                    12
The Outsider            12
Temptation              11
The Three Musketeers    11
Kismet                  11
Othello                 11
Freedom                 11
Name: title, dtype: int64

### Which three years of the 1930s saw the most films released?

In [19]:
titles[titles['year'].isin(range(1930, 1940))]['year'].value_counts()[:3]

1937    1196
1936    1138
1938    1129
Name: year, dtype: int64

### Count the number of films that have been released each decade over the history of cinema.

In [22]:
titles['year'].value_counts(bins = [1890, 1899, 1909, 1919, 1929, 1939, 1949, 1959, 1969, 1979, 1989, 1999, 2009, 2019, 2029],
                            sort = False)

(1889.999, 1899.0]        3
(1899.0, 1909.0]         37
(1909.0, 1919.0]       6512
(1919.0, 1929.0]       8797
(1929.0, 1939.0]      10097
(1939.0, 1949.0]       8576
(1949.0, 1959.0]      12711
(1959.0, 1969.0]      17515
(1969.0, 1979.0]      18714
(1979.0, 1989.0]      20243
(1989.0, 1999.0]      22225
(1999.0, 2009.0]      38713
(2009.0, 2019.0]      67977
(2019.0, 2029.0]        210
Name: year, dtype: int64

### Count the number of "Hamlet" films made each decade.

In [21]:
titles[titles['title'] == 'Hamlet']['year'].value_counts(bins = [1890, 1899, 1909, 1919, 1929, 1939, 1949, 1959, 1969, 1979, 
                                                                 1989, 1999, 2009, 2019, 2029], sort = False)

(1889.999, 1899.0]    0
(1899.0, 1909.0]      0
(1909.0, 1919.0]      3
(1919.0, 1929.0]      1
(1929.0, 1939.0]      0
(1939.0, 1949.0]      1
(1949.0, 1959.0]      1
(1959.0, 1969.0]      2
(1969.0, 1979.0]      2
(1979.0, 1989.0]      1
(1989.0, 1999.0]      2
(1999.0, 2009.0]      2
(2009.0, 2019.0]      3
(2019.0, 2029.0]      0
Name: year, dtype: int64

### Count the number of "Rustler" characters in each decade of the history of film.

In [26]:
cast[cast['character'] == 'Rustler']['year'].value_counts(bins = [1890, 1899, 1909, 1919, 1929, 1939, 1949, 1959, 1969, 1979, 
                                                                  1989, 1999, 2009, 2019, 2029], sort = False)

(1889.999, 1899.0]     0
(1899.0, 1909.0]       0
(1909.0, 1919.0]       0
(1919.0, 1929.0]       6
(1929.0, 1939.0]      84
(1939.0, 1949.0]      18
(1949.0, 1959.0]       8
(1959.0, 1969.0]       2
(1969.0, 1979.0]       9
(1979.0, 1989.0]       1
(1989.0, 1999.0]       4
(1999.0, 2009.0]       2
(2009.0, 2019.0]       0
(2019.0, 2029.0]       0
Name: year, dtype: int64

### Count the number of "Hamlet" characters each decade.

In [25]:
cast[cast['character'] == 'Hamlet']['year'].value_counts(bins = [1890, 1899, 1909, 1919, 1929, 1939, 1949, 1959, 1969, 1979, 
                                                                 1989, 1999, 2009, 2019, 2029], sort = False)

(1889.999, 1899.0]     0
(1899.0, 1909.0]       0
(1909.0, 1919.0]       6
(1919.0, 1929.0]       1
(1929.0, 1939.0]       6
(1939.0, 1949.0]       1
(1949.0, 1959.0]       3
(1959.0, 1969.0]       7
(1969.0, 1979.0]       8
(1979.0, 1989.0]       2
(1989.0, 1999.0]      11
(1999.0, 2009.0]      19
(2009.0, 2019.0]      28
(2019.0, 2029.0]       0
Name: year, dtype: int64

### What are the 11 most common character names in movie history?

In [27]:
cast['character'].value_counts()[:11]

Himself        19600
Dancer         12096
Extra          10953
Reporter        8154
Doctor          7436
Student         7177
Policeman       6883
Party Guest     6742
Nurse           6676
Bartender       6613
Minor Role      6255
Name: character, dtype: int64

### Who are the 10 people most often credited as "Herself" in film history?

In [28]:
cast[cast['character'] == 'Herself']['name'].value_counts()[:10]

Queen Elizabeth II    11
Joyce Brothers         9
Margaret Thatcher      8
Mary Jo Pehl           7
Hillary Clinton        7
Joan Rivers            6
Sumie Sakai            6
Bunny Yeager           5
Marilyn Monroe         5
Kareena Kapoor         5
Name: name, dtype: int64

### Who are the 10 people most often credited as "Himself" in film history?

In [29]:
cast[cast['character'] == 'Himself']['name'].value_counts()[:10]

Adolf Hitler          100
Richard Nixon          46
Ronald Reagan          39
John F. Kennedy        34
Winston Churchill      24
Benito Mussolini       23
George W. Bush         23
Ron Jeremy             23
Martin Luther King     21
Bill Clinton           20
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1945?

In [30]:
cast[cast['year'] == 1945]['name'].value_counts()[:5]

Emmett Vogan       39
Sam (II) Harris    32
Bess Flowers       29
Harold Miller      29
Frank O'Connor     27
Name: name, dtype: int64

### Which actors or actresses appeared in the most movies in the year 1985?

In [31]:
cast[cast['year'] == 1985]['name'].value_counts()[:5]

Mammootty        22
Shakti Kapoor    21
Sukumari         20
Aruna Irani      15
Mohanlal         15
Name: name, dtype: int64

### How many roles Mammootty has played in each year of his career.

In [32]:
cast[cast['name'] == 'Mammootty']['year'].value_counts(sort = False)

1971     1
1980     2
1981     3
1982     7
1983    18
1984    16
1985    22
1986    18
1987     9
1988     7
1989    10
1990    15
1991     6
1992     3
1993     5
1994     5
1995     5
1996     3
1997     2
1998     4
1999     4
2000     7
2001     3
2002     3
2003     2
2004     8
2005     6
2006     8
2007     7
2008     9
2009    12
2010     9
2011     7
2012     7
2013     5
2014     6
2015     6
2016     4
2017     1
Name: year, dtype: int64

### What are the 10 most frequent roles that start with the phrase "Patron in"?

In [34]:
cast[cast['character'].str.contains('Patron in')]['character'].value_counts()[:10]

Patron in Frisky Rabbit         16
Patron in the Coffee House       9
Patron in Chinese Restaurant     9
Patron in Billiard Parlor        5
Patron in Bar                    4
Patron in restaurant             4
Patron in Club                   3
Patron in Restaurant             3
Patron in cabaret                3
Patron in Coffee Shop            2
Name: character, dtype: int64

### What are the 10 most frequent roles that start with the word "Science"?

In [35]:
cast[cast['character'].str.startswith('Science')]['character'].value_counts()[:10]

Science Teacher         60
Science Fair Student     9
Science Student          9
Science Fair Judge       6
Science Kid              5
Science Promo Cadet      5
Science Reporter         5
Science Club Member      5
Science                  4
Science Fair Kid         3
Name: character, dtype: int64

### Count number of n-values of the roles that Judi Dench has played over her career.

In [36]:
cast[(cast['name'] == 'Judi Dench') & (cast['n'].isnull() == False)]['character'].count()

48

### Count number of n-values of Cary Grant's roles through his career.

In [37]:
cast[(cast['name'] == 'Cary Grant') & (cast['n'].isnull() == False)]['character'].count()

75

### Count number of n-value of the roles that Sidney Poitier has acted over the years.

In [38]:
cast[(cast['name'] == 'Sidney Poitier') & (cast['n'].isnull() == False)]['character'].count()

42

### How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s?

In [39]:
cast[(cast['year'] == 1950) & (cast['type'] == 'actor') & (cast['n'] == 1)]['character'].count()

626

In [40]:
cast[(cast['year'] == 1950) & (cast['type'] == 'actress') & (cast['n'] == 1)]['character'].count()

281

### How many supporting (n=2) roles were available to actors, and how many to actresses, in the 1950s?

In [41]:
cast[(cast['year'] == 1950) & (cast['type'] == 'actor') & (cast['n'] == 2)]['character'].count()

437

In [42]:
cast[(cast['year'] == 1950) & (cast['type'] == 'actress') & (cast['n'] == 2)]['character'].count()

415